

html{
    box-sizing: border-box;
}

html *{
    position: relative;
    color:#064e3b;
}

*,*::before, *::after{
    margin-top: 0;
    padding: 0;
}

body * {
    display: flex;
}


/*Barra de menu*/
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Montserrat, sans-serif;
}
.nav {
    position: relative;
    box-shadow: 0 0 10px #e1e5ee;
    justify-content: space-evenly;
    background: #34d399;
}
.nav__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    margin: 0 2rem;
}
.nav__listlogo {
    list-style: none;
    margin-right: auto;
    cursor: pointer;
}
.nav__listlogo img {
    width: 2.5rem;
    transition: fill 250ms ease-in;
}
.nav__listlogo img:hover, .nav__listlogo img:focus {
    fill: #047857;
}
.nav__listitem {
    list-style: none;
    font-weight: bold;
    position: relative;
    padding: 1.5rem 1rem;
    cursor: pointer;
}
.nav__listitem::after {
    content: "";
    width: 0;
    height: 0.3rem;
    border-radius: 0.2rem;
    position: absolute;
    left: 1rem;
    bottom: 0.8rem;
    background-color: #256d22;
    transition: width 200ms ease-in;
}
.nav__listitem:hover::after, .nav__listitem:focus::after {
    width: 80%;
}
.nav__listitem:hover>ul, .nav__listitem:focus>ul, .nav__listitem:hover li, .nav__listitem:focus li {
    opacity: 1;
    visibility: visible;
    height: auto;
    width: 12rem;
    transition: opacity 200ms ease-in;
   
}
.nav__listitem:hover>ul.ninos, .nav__listitem:focus>ul.ninos, .nav__listitem:hover>ul.ninos li, .nav__listitem:focus>ul.ninos li {
    opacity: 1;
    visibility: visible;
    height: auto;
    width: auto;
    transition: opacity 200ms ease-in;
   
}
.nav__listitemdrop {
    position: absolute;
    top: 4rem;
    left: 0rem;
    box-shadow: 0 0 0.5rem #000000;
    background-color: #34d399;
    border-radius: 0.2rem;
    width: auto;
    height: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 200ms ease-in-out;
    z-index: 3;
}
.nav__listitemdrop li {
    font-size: 1vw;
    list-style: none;
    padding: 0.5rem 0.5rem;
    border-radius: 0.2rem;
    transition: background-color 200ms ease-in-out;
    height: 0;
    width: 0rem;
    border: 2px;
    border-color: white;
}
.nav__listitemdrop li:hover, .nav__listitemdrop li:focus {
    background-color: #047857;
}
.nav__listitemdroplist:hover>ul, .nav__listitemdroplist:focus>ul, .nav__listitemdroplist:hover li, .nav__listitemdroplist:focus li {
    opacity: 1;
    visibility: visible;
    height: auto;
    width: auto;
    transition: opacity 200ms ease-in-out;
}
.nav__listitemdroplistsub {
    position: absolute;
    top: 0rem;
    left: 5.2rem;
    box-shadow: 0 0 0.5rem #000000;
    background-color: rgb(102, 255, 135);
    border-radius: 0.2rem;
    height: 0;
    width: 0rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 200ms ease-in-out;
    
}
.nav__listitemdroplistsub li {
    list-style: none;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    transition: background-color 200ms ease-in-out;
    height: 0;
    width: 0rem;
}
.nav__listitemdroplistsub li:hover, .nav__listitemdroplistsub li:focus {
    background-color: #047857;
}
.menu-link {
    display: block;
    padding: 1rem;
    font-size: 1.2em;
    text-decoration: none;
    background-color: #34d399;
    flex-grow: 1;
    border-radius: 0.2rem;
}
.menu-link:hover {
    background-color: #047857;
    color:white;
}

.menu-link:hover::before, .menu-link:hover::after {
    background-color: #047857;
}

/*Barra de navegacion*/
form{
    display: flex;
    flex-direction: row;
    align-items: center;
}
/* 
#buscador {

} */

.boton-busqueda {
    background: transparent;
    border: none;
    outline: none;
    margin-left: -33px;
}
.boton-busqueda svg {
    width: 20px;
    height: 20px;
    object-fit: cover;
}


/*Animacion de linea*/
.animated-line{
    background-image: linear-gradient(90deg,#022c22,#047857,#a7f3d0,#047857,#022c22);
    background-repeat: no-repeat;
    background-size: 0% 3px;
    background-position: center bottom;
    padding-block: 1.28rem;
    transition: background-size 200ms ease-in-out;
}

.animated-line:hover{
    background-size: 100% 3px;
}

/*Modal*/

.modal{
    width:100vw;
    height:100vh; 
    position: fixed;
    padding-top: 50vh;
    top:0;
    left:0;
    background: rgba(0,0,0,0.5);
    /*opacity:0;
    pointer-events: none;*/
    transition: opacity .6s;
    z-index: 10;
}

/* [open]{
    opacity: 0;
    pointer-events: unset;
    transition: opacity 600ms ease-in-out;
} */

.modal__close:hover{
    background-color: #047857;
    border-radius: 8px;
    padding: 2px;
}

.modal__contenedor{
    width: 90%;
    max-width: 600px;
    height: auto;
    max-height: 90%;
    margin: auto;
    background-color: #a7f3d0;
    box-shadow: 1px 7px 25px rgba(0,0,0,0.6);
    transition: all 500ms ease;
    position: relative;
    transform: translateY(-30%);
    border-radius: 0.5rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    padding-bottom: 1rem;
}

.modal__contenedor header {
    max-width: 600px;
    background-color: #34d399;
    color:#fff;
    font-weight: bold;
    border-radius: 0.5rem 0.5rem 0 0;
}


.modal__title{
    font-size: 1.5rem;
}

.modal__paragraph{
    font-size: 1.5rem;
    color:#022c22;
    margin-left: 1rem;
}





/* Footer */
footer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    list-style: none;
    font-weight: bold;

}
footer div {
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: nowrap;
    align-items: center;
}
footer div>div {
    flex-direction: column;
    align-items: center;
}
footer div>.row {
    flex-direction: row;
    gap: 3rem;
}

footer div>.row>div {
    flex-direction: row;
    justify-content: space-evenly;
}
.footer_top {
    box-sizing: border-box;
}
.slider{
    display: block;
}

